.container {
  min-height: 100vh;
  background: #eee;
  padding: 30px;
}

.button-container {
  min-height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.search-container {
  margin-bottom: 20px;
}

.search-container h1 {
  margin-bottom: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divflex_item1 {
  background-color: grey;
  display: flex;
  cursor: pointer;
}
.divflex_item2 {
  background-color: green;
  display: flex;
  cursor: pointer;
}

.divflex_item1:hover,
.divflex_item2:hover {
  flex: 2;
}
